// Component styles

// Buttons
.linkButton {
  padding: 15px;
  background: $primary;
  text-align: center;

  &:hover {
    @extend %hover;
  }
}

.findOutMore {
  width: 200px;
  margin: 0 auto;
}

.readMore {
  width: 170px;
}


// Form styles
input::placeholder,
textarea::placeholder {
  margin-bottom: 50px;
  color: $black;
  opacity: 1; //firefox fix
}

input[type="text"],
input[type="email"],
textarea {
  background:transparent;
  padding-left: 15px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid $primary;
  padding-bottom: 15px;

  @include bp(xlg) {
    padding: 0 0 20px 20px;
  }
}

textarea {
  width: 100%;
  border: 2px solid $primary;
  padding-top: 15px;

  @include bp(xlg) {
    padding: 20px 0 0 20px;
  }
}

input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: $primary;

  &:hover {
    @extend %hover;
  }
}
