// Component styles
// Buttons
// Forms

//------------------------------------------------------------
// Buttons

//Find out more & Read more buttons
.linkButton {
  padding: 10px;
  background: $primary;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6rem;
  font-size: 1.2rem;

  @include bp(lg) {
    padding: 15px;
    font-size: 1.6rem;
  }

  &:hover {
    @extend %hover;
  }
}

.findOutMore {
  margin: 0 auto;
  width: 250px;

  @include bp(lg) {
    width: 320px;
  }
}

.readMore {
  width: 190px;

  @include bp(lg) {
    width: 270px;
  }
}

//------------------------------------------------------------
// Form styles
input::placeholder,
textarea::placeholder {
  margin-bottom: 50px;
  color: $black;
  opacity: 1; //firefox fix
}

input[type="text"],
input[type="email"],
textarea {
  background:transparent;
  padding-left: 15px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid $primary;
  padding-bottom: 15px;

  @include bp(xlg) {
    padding: 0 0 20px 20px;
  }
}

//name & email flex box
.contactContainer {

  @include bp(sm) {
    //flex container
    display: flex;
    justify-content: space-between;
  }

  //flex items
  input[type="text"],
  input[type="email"] {
    @include bp(sm) {
      flex-basis: 45%;
    }
  }
}

textarea {
  width: 100%;
  border: 2px solid $primary;
  padding-top: 15px;

  @include bp(xlg) {
    padding: 20px 0 0 20px;
  }
}

// submit button 
input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: $primary;
  line-height: 1.6rem;
  letter-spacing: 1px;

  &:hover {
    @extend %hover;
  }
}
