// Typography

// Very general Typography
// For page-specific styles, go to each page styles

html {
  font-size: 125%; /*20px*/
}

body {
  color: $black;
}

h1,
h2,
h3,
h4, 
nav,
a,
.linkLabel,
.commentsTitle,
input[type="submit"]  {
  font-family: $lgFont;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

//h1 is styled on each page due to its responsiveness

h2 {
  font-size: 2.1rem;
}

h3,
.linkLabel {
  @include bp(xs) {
    font-size: 1.4rem;
  }
    
  font-size: 1.6rem;
  letter-spacing: 1px;
}

//h4 is styled on blog.scss, because it is only used on the page.

a {
    color: $black;
}

p,
form {
  font-family: $smFont;
}

p {
  line-height: 1.6;
  font-weight: normal;
}

//This is for link titles and comment titles
// They are not headings but has visual appearance of headings.
[class*="Title"] {
  font-size: 1.6rem;
}

