// Header styles

//general styles
.mainHeader,
.blogHeader,
.contactHeader {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header .wrapper {
  height: 100vh;
}

h1 {
  text-align: center;

}

// navigation styles
.mainNav {
  position: relative;

  @include bp(sm) {
    position: static;
    display: flex; //flex container
    justify-content: flex-end;
  }
}

input[class="toggle"] {
  opacity: 0;

  @include bp(sm) {
    display: none;
  }
}

label.toggle { 
  border: 1px solid #000;
  position: absolute;
  right:0;
  top: 0;
  margin-top: 10px;

  i {
    font-size: 1.7rem;
  }

  @include bp(sm) {
    display: none;
  }
}

//drop down nav styles
.navList {
  width: 100%;
  margin-top: 20px;
  border: 2px dotted $black;
  border-bottom: none;
  position: relative;
  background-color: $primary;
  text-align: center;
  z-index: 100;
  opacity: 0;
  transition: all $transitionDetails;
  
  @include bp(sm) {
    width: 75%;
    border: none;
    display: flex; //flex container
    justify-content: flex-end;
    background-color: transparent;
    opacity: 1;
  }

  @include bp(md) {
    border: 1px solid #000;
    width: 60%;
  }

  @include bp(lg) {
    width: 50%;
  }

  @include bp(xxl) {
    width: 40%;
    transform: translateX(-20%);
  }

  li {
    padding: 30px 0;
    border-bottom: 2px dotted $black;
    
    @include bp(sm) {
      border: none ;
      flex: 1 0 25%; //flex item of ul.navList
    }

    &:hover {
      background-color: $accent;

      @include bp(sm) {
        background-color: transparent;
        position: relative;

        &::after {
          content:'.';
          width: 0px;
          height: 1px;
          color: $primary;
          text-align: center;
        }
      }
    }
  }  
}

//toggle effect styles
input[class="toggle"]:checked + .navList {
  opacity: 1;

  @include bp(sm) {
    opacity: 0;
    display: none;
  }
}

