// Header styles

//general styles
.mainHeader,
.blogHeader,
.contactHeader {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header .wrapper {
  height: 100vh;
}

h1 {
  text-align: center;

}

// navigation styles
.mainNav {
  position: relative;

  @include bp(sm) {
    position: static;
    display: flex; //flex container
    justify-content: flex-end;
  }
}

input[class="toggle"] {
  opacity: 0;

  @include bp(sm) {
    display: none;
  }
}

label.toggle { 
  position: absolute;
  right:0;
  top: 0;
  margin-top: 10px;

  i {
    font-size: 1.7rem;
  }

  @include bp(sm) {
    display: none;
  }
}

//drop down nav styles
.navList {
  width: 100%;
  margin-top: 20px;
  border: 2px dotted $black;
  border-bottom: none;
  position: relative;
  background-color: $primary;
  text-align: center;
  z-index: 100;
  opacity: 0;
  transition: all $transitionDetails;
  
  @include bp(sm) {
    width: 75%;
    border: none;
    display: flex; //flex container
    justify-content: flex-end;
    background-color: transparent;
    opacity: 1;
  }

  @include bp(md) {
    width: 60%;
  }

  @include bp(lg) {
    width: 45%;
  }

  @include bp(xxl) {
    width: 30%;
    transform: translateX(-15%);
  }
 
}

.navList li {
  padding: 30px 0;
  border-bottom: 2px dotted $black;
  
  @include bp(sm) {
    border: none ;
    flex: 1 0 25%; //flex item of ul.navList
  }

  &:hover {
    background-color: $accent;

    @include bp(sm) {
      background-color: transparent;
      position: relative;
    }
  }

  @include bp(sm) {
    a {
      position: relative;
    }

    a::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 10%;
      width: 80%;
      height: 3px;
      background-color: $primary;
      visibility: hidden;
      transform: scaleX(0);
      transition: 0.5s linear;
    }

    a:hover::after {
      visibility: visible;
      transform: scaleX(1);
    }
  }
} 

//toggle effect styles
input[class="toggle"]:checked + .navList {
  opacity: 1;

  @include bp(sm) {
    opacity: 0;
    display: none;
  }
}

