// blog page styles

//------------------------------------------------------------
//general styles
.blog {
  background-color: $secondary;
  margin: 0 auto;

  p {
    font-size: 0.9rem;

    @include bp(sm) {
      font-size: 1.0rem;
    }
  }
}

//------------------------------------------------------------
// header styles
.blogHeader {
  position: relative;
  background-image: url('../assets/blogHeader.jpg');
  background-position: 30% center;
}

.blogHeader h1 {
  @extend %centerElement;
  margin: 0 auto;
  font-size: 4.0rem;
  line-height: 4.6rem;
}

//------------------------------------------------------------
// side bar (aside) styles

.sideBar {
  position: relative;
  padding: 10px 0 30px;
  background-color: $secondary;

  //media query
  @include bp(sm) {
    padding: 30px 0 70px;
  }
}

//Toggle set-up styles
// checkbox & label
input.sideToggle {
  opacity: 0;
}

label.sideToggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  //media query
  @include bp(lg) {
    display: none;
    padding: 0;
  }

  i {
    color: $black;
    font-size: 2.4rem;
    margin-right: 5px;

    &:hover {
      color: $primary;
    }
  }
}

//side bar content style
.sideBarPopUp {
  position: absolute;
  padding: 40px 10px;
  transform: translateX(-110%);
  background-color: $white;

  //media query
  @include bp(sm) {
    margin: 0 100px;
    transform: translateX(-130%);
  }

  @include bp(lg) {
    margin: 0;
    padding: 0;
    transform: translateX(0);
    position: static;

    img {
      position: relative;
      top: -20px;
      left: -30px;
    }

    .sideBarContent {
      padding: 0 10px 40px;
    }
  }

  @include bp(xlg) {
    width: 85%;
    margin-left: 50px;
    margin-top: 50px;

    .fullWidth {
      //push the viewport to the middle and manage the content by negative margin
      width: 35vw;
      position: relative;
      left: 50%;
      margin-left: -20vw;
      top: -15px;
    }

    //content1: about captured styles
    h4:first-child {
      margin-top: 0;
      
      & + p {
        margin-bottom: 50px;
      }
    }
  }
}

//find out more link & recent posts unordered list

.sideBarContent a[href="index.html"],
.recentPosts a {
  display: inline-block;

  &:hover {
    color: darken($primary, 20%);
  }
}

.sideBarContent a[href="index.html"] {
  margin-left: 3px;
  font-family: $lgFont;
}

// content2: recent posts styles
.recentPosts a {
  font-family: $smFont;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

// side bar: toggle effect
input.sideToggle:checked + .sideBarPopUp {
  transform: translateX(0);
  position: static;
}

//bullet style
.sideBarPopUp li::before {
  content: "\2022";
  color: $primary;
  font-weight: bold;
  display: inline-block;
  width: 1.0em;
  margin-left: 0.3em;
}

//------------------------------------------------------------
// flex box layout for media query

//flex container
.blogFlexContainer {
  @include bp(lg) {
    display: flex;
    justify-content: space-between;
  }

  //flex item1: side bar
  .sideBar {
    @include bp(lg) {
      flex-basis: 35%;
      margin-left: 30px;
    }
  }

  // flex item2: blog post
  .blogPost {
    @include bp(lg) {
      flex-basis: 65%;
      margin-left: 30px;
    }
  }
}

//------------------------------------------------------------
// blog post
.blogPost {
  position: relative;
  //media query
  @include bp(lg) {
   position: relative;
   top: -150px;
  }
}

//blog post content
.post {
  border-left: 3px solid $accent;
  border-bottom: 3px solid $accent;

  h2,
  p {
    padding-left: 10px;

    //media query
    @include bp(sm) {
      padding-left: 20px;
    }

    @include bp(lg) {
      padding-left: 30px;
    }

    @include bp(xlg) {
      padding-left: 50px;
    }
  }

}

//blog post image
.imgContainer {
  padding-top: 68%;
  width: 100%;
  background-color: $accent;

  img {
    position: absolute;
    right: 0;
    top: -20px;
    width: 90%;

    @include bp(lg) {
      top: -50px;
    }
  }
}

//------------------------------------------------------------
// Comments
.comments {
  margin: 100px 0;
}

.blog .commentsTitle {
  font-size: 1.6rem;
}

.postedComments {
  //flex container
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 50px;

  img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  p {
    margin-top: 0;
  }
}

// form styles
// for general form styles, go to components.scss

.commentForm {

  //name & email
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-bottom: 40px;
  }

  //submit button
  input[type="submit"] {
    margin-bottom: 100px;
  }
}

