// contact page styles

//------------------------------------------------------------
//header styles
.contactHeader {
  position: relative;
  background-image: url('../assets/contactHeader.jpg');
  background-position: 30% center;
  @extend %bgDetails;

  //h1 style
  h1 {
    position:absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 3.0rem;

    //media query
    @include bp(md) {
      font-size: 4.0rem;
      line-height: 4.6rem;
    }
  }
}

// layout flex box media query

.contact {
  .wrapper {
    @include bp(lg) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  aside {
    @include bp(lg) {
      flex-basis: 30%;
    }
  }

  .contactForm {
    @include bp(lg) {
      flex-basis: 60%;
    }

    @include bp(xlg) {
      flex-basis: 70%;
    }
  }
}

//------------------------------------------------------------
// main styles
.contact {
  padding-top: 30px;
  background-color: $secondary;

  //media query
  @include bp(lg) {
    padding: 0;
  }
}

//------------------------------------------------------------
//form styles
//for general form styles, go to components.scss
.contactForm {
  border: 20px solid $accent;
  border-top: none;
  border-right: none;
  padding: 20px 20px 20px 10px;
  background-color: $white;

  //media query
  @include bp(lg) {
    position: relative;
    top: -150px;
    padding: 15px;
    border: 30px solid $accent;
    border-top: none;
    border-right: none; 
  }

  @include bp(xlg) {
    padding: 50px;
  }

  //form general style
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 35px;
  }
}

//name & email flex box
.contactContainer {

  @include bp(sm) {
    //flex container
    display: flex;
    justify-content: space-between;
  }

  //flex items
  input[type="text"],
  input[type="email"] {
    @include bp(sm) {
      flex-basis: 45%;
    }
  }
}

//------------------------------------------------------------
//aside: socialMedia & contact styles

//social media links
.socialMedia ul {
  //flex container
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: 50px;

  //media query
  @include bp(sm) {
    width: 50%;
  }
}

.socialMedia ul li {
  flex: 1 0 auto;
  transition: all $transitionDetails;

  &:hover a {
    color: $primary;
    text-shadow: 1px 1px 1px $black;
    transform: scale(1.2);
  }
}

// icon & email styles
.socialMedia a,
address p:first-of-type {
  font-size: 1.3rem;
  margin: 5px 0;
}

//email styles
address p:first-of-type {
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: $lgFont;

  &:hover {
    color: $primary;
    text-shadow: 2px 1px 1px $black;
  }
}


//address styles
address {
  font-style: normal;

  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}


