// contact styles

//header styles
.contactHeader {
  background-image: url('../assets/contact-header.jpg');
  background-size: cover;
  background-position: 30% center;
  position: relative;

  h1 {
    position:absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 3.0rem;

    @include bp(md) {
      font-size: 4.0rem;
    }
  }
}

// main styles
.contact {
  background-color: $secondary;

  padding-top: 30px;

  @include bp(lg) {
    padding: 0;
  }
}

//form styles
// For general form styles, go to components.scss
.contactForm {
  padding: 50px;
  border: 30px solid $accent;
  border-top: none;
  border-right: none;
  background-color: $white;

  @include bp(lg) {
    position: relative;
    top: -150px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 35px;
  }
}

//name & email flex box
.contactContainer {
  @include bp(xlg) {
    display: flex;
    justify-content: space-between;
  }

  input[type="text"],
  input[type="email"] {
    flex-basis: 45%;
  }
}

//aside: socialMedia & contact styles

//social media links
.socialMedia ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  width: 70%;

  //media query
  @include bp(lg) {
    width: 50%;
  }

  li {
    flex: 1 0 auto;
    transition: all $transitionDetails;

    &:hover a {
      color: $primary;
      text-shadow: 1px 1px 1px $black;
      transform: scale(1.2);
    }
  }
}

// address style
.socialMedia a,
address p:first-of-type {
  border: 1px solid #000;
  font-size: 1.3rem;
  margin: 5px 0;
}

address p:first-of-type {
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: $lgFont;
}

address {
  font-style: normal;

  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

// layout flex media query
.contact {
  .wrapper {
    @include bp(lg) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  aside {
    flex-basis: 35%;
    margin-right: 20px;
  }

  .contactForm {
    flex-basis: 65%;
  }
}