// main: About styles

// header styles

// general
.about,
.moreInfo,
.monthlyProfile {
  padding: 20px 0 50px;
  background: $secondary;

  @include bp(sm) {
    padding: 30px 0 70px;
  }
}

.mainPage {
  h3 {
    margin-top: 30px;

    @include bp(sm) {
      margin-top: 50px;
    }
  }
}

// header
.mainHeader {
  background: url('../assets/header-image.jpg');
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    font-size: 2.6rem;

    @include bp(sm) {
      top: 75%;
      font-size: 4.0rem;
    }

    @include bp(md) {
      top: 70%;
      font-size: 5.0rem;
    }
  }
}  

.decoImgContainer {
  padding-top: 45%;
  width: 45%;
  border: 20px solid $accent;
  border-right: none;
  background: url('../assets/header-box-image.jpg');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -7%;

  @include bp(sm) {
    bottom: -20%;
    background-position: 0% 0%;
  }
 }

// about
.about {
  padding-top: 40px;
  background-color: $secondary;

  @include bp(sm) {
    padding-top: 130px;
  }

  @include bp(lg) {
    padding: 130px 50px;  

    h2 {
      text-align: center;
    }
  }

  p {
    @include bp(sm) {
      padding-bottom: 20px;
    }
  }
}

// features
.feature {
  margin-bottom: 40px; 

  .wrapper {
    border: 1px solid #000;
  }

  @include bp(lg) {
    display: flex;
    justify-content: space-between;
  }

  img {
    @include bp(lg) {
      flex-basis: 40%;
    }
  }

  .featureContent {
    @include bp(lg) {
      flex-basis: 40%;
    }
  }
}

.feature1 {
  img { 
    @extend %boxShadowL;
  }
  
  .featureContent {
    @include bp(lg) {
      margin-left: 10%;
    }
  }
}

.feature2 {
  flex-direction: row-reverse;

  img {
    @extend %boxShadowR;
  }

  .featureContent {
    @include bp(lg) {
      margin-right: 10%;
    }
  }
}

// moreInfo 

.moreInfo ul {
  @include bp(lg) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    @include bp(lg) {
      flex-basis: 45%;
    }
  }

  li:first-child,
  li:nth-child(3) {
    margin-right: 20px;
  }
}

.infoTitle {
  display: flex; //Flex container
  align-items: center;
  cursor: pointer;
  padding: 1.5px;

  &:hover {
    background-color: $accent;
    border-radius: 100px;
  }
}

.moreInfo i {
  position: relative;
  text-align: center;
  z-index: 100;
  
  font-size: 1.6rem;
  
  &::after {
    content:'';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary;
    z-index: -1;
  }
}

.linkLabel{
  margin-left: 15px;

  @include bp(lg) {
    margin-left: 30px;
  }
}

.info p {
  @include bp(lg) {
    margin-left: 65px;
  }
}

.info p:last-child {
  font-style: normal;
  margin-bottom: 50px; 
}

// banner
.banner {
  display: none;
  background-image: url('../assets/banner.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp(lg) {
    display: block;
  }
}

// month profile

.monthlyProfile {
  .wrapper {
    @include bp(lg) {
      display: flex;
      align-items: flex-start;
      padding: 50px 0;
    }
  }

  img {
    @extend %boxShadowL;
    width: 70%;
    height: 70%;
    margin: 0 auto;

    @include bp(lg) {
      flex-basis: 30%;
      margin-right: 60px;
    }
  }

  .profileContent {
    @include bp(lg) {
      flex-basis: 70%;

      h3 {
        margin-top: 0;
      }
    }
  }
}

// gallery 
.galleryContainer {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;

  @include bp(lg) {
    margin: 100px auto;
  }
}

.item1,
.item2 {
  flex: 1 0 50%;
}

.item1,
.item2,
.item3 {
  @include bp(lg) {
    flex: 1 0 30%;
  }
}

.item1 {
  margin-right: 10px;
}

.item2 {
  margin-right: 10px;
}

.item3 {
  display: none;

  @include bp(lg) {
    display: block;
  }
}

