// main page styles

//------------------------------------------------------------
// general styles

//section padding & bgc
.about,
.moreInfo,
.monthlyProfile {
  padding: 20px 0 50px;
  background: $secondary;

  @include bp(sm) {
    padding: 30px 0 70px;
  }
}

// heading styles
.mainPage {
  h3 {
    margin-top: 30px;

    @include bp(sm) {
      margin-top: 50px;
    }
  }
}

//------------------------------------------------------------
// header styles
// nav is styled in the header.scss
.mainHeader {
  position: relative;
  background: url('../assets/headerImage.jpg');
  background-position: 40% center;
  @extend %bgDetails;

  h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2.6rem;

    //media query
    @include bp(sm) {
      top: 75%;
      font-size: 4.0rem;
    }

    @include bp(md) {
      top: 70%;
      font-size: 5.0rem;
    }

    @include bp(lg) {
      font-size: 6.0rem;
    }
    
    @include bp(xlg) {
      font-size: 6.9rem;
    }
  }
}  

//deco image on the right
.decoImgContainer {
  width: 45%;
  padding-top: 45%;
  border: 20px solid $accent;
  border-right: none;

  position: absolute;
  right: 0;
  bottom: -7%;

  background: url('../assets/headerBoxImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  
  //media query
  @include bp(sm) {
    bottom: -20%;
    border: 30px solid $accent;
    border-right: none;
  }
  
  @include bp(lg) {
    bottom: -30%;
    border: 40px solid $accent;
    border-right: none;
  }
 }

 //------------------------------------------------------------
// about section styles
.about {
  padding-top: 40px;
  background-color: $secondary;

  //media query
  @include bp(sm) {
    padding-top: 130px;
  }

  @include bp(lg) {
    padding: 250px 50px;  
  }

  //p tag media query
  p {
    @include bp(sm) {
      padding-bottom: 20px;
    }
  }

  //h2 media query
  h2 {
    @include bp(lg) {      
      text-align: center;
    }
  }
}

//------------------------------------------------------------
// features section styles
.feature {
  margin-bottom: 40px; 

  //media query
  @include bp(lg) {
    padding-bottom: 30px;
  }

  //wrapper media query
  //flex container
  .wrapper {
    @include bp(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  //flex item1: imgContainer
  .imgContainer {
    height: 250px;
    width: 100%;
    margin-top: 50px;
    @extend %bgDetails;

    //media query
    @include bp(md) {
      height: 350px;;
    }

    @include bp(lg) {
      position: relative;
      flex-basis: 47%;
      width: 50%;
      height: auto;
    }
  }

  //flex item2: content
  .featureContent {
    @include bp(lg) {
      flex-basis: 46%;
    }
  }
}

// feature1 (top part of features section)
.feature1 {
  //imgContainer: media query
  .imgContainer {   
    background-image: url('../assets/leftImage.jpg');
    @extend %boxShadowR;
    
    //media query
    @include bp(lg) {
      left: -5.65%;
      top: -80px;
    }
  }
  
  //content: media query
  .featureContent {
    @include bp(lg) {
      margin-left: 70px;
      padding-left: 20px;
    }
    
    @include bp(xlg) {
      padding: 50px 27px;
    }
  }
}

// feature2 (bottom part of features section)
.feature2 {
  //wrapper media query
  .wrapper {
    @include bp(lg) {
      flex-direction: row-reverse;
    }
  }
  
  //imgContainer: media query
  .imgContainer {
    @extend %boxShadowL;
    margin-top: 50px;
    background-image: url('../assets/rightImage.jpg');
    
    @include bp(lg) {    
      right: -5.65%;
      bottom: -90px;
    }
  }

  //content: media query
  .featureContent {

    @include bp(lg) {
      padding-right: 20px;
    }

    @include bp(xlg) {
      padding: 50px 27px;
    }
  }
}

//------------------------------------------------------------
// moreInfo section styles
.moreInfo {

  //media query
  @include bp(lg) {
    padding-top: 100px;
  }
}

//more info flex box layout 
.moreInfo ul {
  //flex container
  //media query
  @include bp(lg) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  //flex items
  li {
    @include bp(lg) {
      flex-basis: 45%;
    }
  }
}

.moreInfo ul {

  li:first-child,
  li:nth-child(3) {
    margin-right: 20px;
  }

}

// vertical flex box: info Title & info Content
.moreInfo a {
  //flex container
  display: flex;
  flex-direction: column;
}

//info link title style: icon + label
.infoTitle {
  //flex container
  display: flex; 
  align-items: center;
  padding: 1.5px;
  cursor: pointer;

  &:hover {
    border-radius: 100px;
    background-color: $accent;
  }

  //media query
  @include bp(lg) {
    margin-left: 7px;
  }
}

//icon style 
.moreInfo i {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  z-index: 100;
  
  font-size: 1.2rem;

  //circle style
  &::after {
    content:'';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: $primary;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

//Camera icon with a different size
.moreInfo li:first-child i {
  font-size: 1.6rem;

  &::after {
    transform: translate(-43%, -43%);
  }
}

// link label style
.linkLabel{
  margin-left: 30px;
}

// text content style
.info p {
  margin-bottom: 50px; 
  font-style: normal;

  //media query
  @include bp(md) {
    margin-left: 50px;
  }

  @include bp(lg) {
    margin-left: 65px;
  }
}

//------------------------------------------------------------
// banner styles
.banner {
  display: none;
  background-image: url('../assets/banner.jpg');
  background-position: center center;
  @extend %bgDetails;

  //media query
  @include bp(lg) {
    display: block;
  }
}

//------------------------------------------------------------
// month profile styles

.monthlyProfile {
  .wrapper {
    //media query
    //flex box
    @include bp(lg) {
      display: flex;
      align-items: flex-start;
      padding: 50px 0;
    }
  }

  //img media query
  //flex item1
  img {
    @extend %boxShadowL;
    width: 70%;
    height: 70%;
    margin: 0 auto;

    @include bp(lg) {
      flex-basis: 30%;
      margin-right: 60px;
    }

    @include bp(xlg) {
      flex-basis: 20%;
    }
  }

  //flex item2
  //media query
  .profileContent {
    @include bp(lg) {
      flex-basis: 70%;
      //flex container
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @include bp(xlg) {
      flex-basis: 80%;
    }

    h3 {
      @include bp(lg) {
        margin-top: 0;
      }
    }

    a {
      @include bp(lg) {
        margin: 0;
      }
    }   
  }
}

//------------------------------------------------------------
// gallery styles
.galleryContainer {
  //flex container
  display: flex;
  justify-content: space-between;
  margin: 50px auto;

  @include bp(lg) {
    margin: 100px auto;
  }
}

//flex items: xs screen
.item1,
.item2 {
  flex: 1 0 50%;
}

//flex items: lg screen
.item1,
.item2,
.item3 {
  @include bp(lg) {
    flex: 1 0 30%;
  }
}

//flex-item 1 & 2 margin
.item1,
.item2 {
  margin-right: 10px;

  @include bp(xlg) {
    margin-right: 25px;
  }

  @include bp(xxl) {
    margin-right: 40px;
  }
}

//flex item3 media query
.item3 {
  display: none;

  @include bp(lg) {
    display: block;
  }
}

