// main: About styles

// header styles

// general
.about,
.moreInfo,
.monthlyProfile {
  padding: 20px 0 50px;
  background: $secondary;
}

h3 {
  margin-top: 30px;
}

// header
.mainHeader {
  background: url('../assets/header-image.jpg');
  background-position: 40% center;
  position: relative;

  h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    font-size: 2.6rem;

    @media bp($sm) {
      font-size: 3.0rem;
    }
  }
}  

.decoImgContainer {
  padding-top: 55%;
  width: 50%;
  border: 20px solid $accent;
  border-right: none;
  background: url('../assets/header-box-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -15%;
}

// about
.about {
  position: static;
  padding-top: 100px;
  background-color: $secondary;
}

// features
.feature {
  margin-bottom: 40px; 
}

.feature1 {
  img {
    box-shadow: $boxShadowL;
  }
}

.feature2 img {
  box-shadow: $boxShadowR;
}

// moreInfo 
.infoTitle {
  display: flex; //Flex container
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.5px;

  &:hover {
    background-color: $accent;
    border-radius: 100px;
  }
}

.moreInfo i {
  flex: 1 0 10%; //flex item
  position: relative;
  text-align: center;
  z-index: 100;
  
  font-size: 1.6rem;
  
  &::after {
    content:'';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary;
    z-index: -1;
  }
}

.linkLabel{
  flex: 5 0 80%; //flex item
  margin-left: 15px;
}

.info p:last-child {
  font-style: normal;
  margin-bottom: 50px; 
}

// banner
.banner {
  display: none;
  height: 25vh;
  background-image: url('../assets/banner.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

// month profile

.monthlyProfile {

  img {
    box-shadow: $boxShadowL;
  }
}

// gallery 
.galleryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.item1,
.item2 {
  flex: 1 0 50%;
}

.item1 {
  margin-right: 10px;
}

.item3 {
  display: none;
}