article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.linkButton:hover, input[type="submit"]:hover {
  box-shadow: 1.5px 1.5px 5px black;
  background-color: #fdfa69;
  color: #2c2c2c; }

.blogHeader h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  display: block; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto; }

html {
  font-size: 125%;
  /*20px*/ }

body {
  color: #2c2c2c; }

h1,
h2,
h3,
h4,
nav,
a,
.linkLabel,
.commentsTitle,
input[type="submit"] {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase; }

h2 {
  font-size: 2.1rem; }

h3,
.linkLabel {
  font-size: 1.6rem; }

a {
  color: #2c2c2c; }

p,
form {
  font-family: "Roboto", sans-serif; }

p {
  line-height: 1.6;
  font-weight: normal; }

[class*="Title"] {
  font-size: 1.6rem; }

.linkButton {
  padding: 15px;
  background: #4ceea7;
  text-align: center; }

.findOutMore {
  width: 200px; }

.readMore {
  width: 170px; }

input::placeholder,
textarea::placeholder {
  margin-bottom: 50px;
  color: #2c2c2c;
  opacity: 1; }

input[type="text"],
input[type="email"],
textarea {
  background: transparent;
  padding-left: 15px; }

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid #4ceea7;
  padding-bottom: 15px; }

textarea {
  width: 100%;
  border: 2px solid #4ceea7;
  padding-top: 15px; }

input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #4ceea7; }

.mainHeader,
.blogHeader,
.contactHeader {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

header .wrapper {
  height: 100vh; }

h1 {
  text-align: center; }

.mainNav {
  position: relative; }

input[class="toggle"] {
  opacity: 0; }

label.toggle {
  border: 1px solid #000;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px; }
  label.toggle i {
    font-size: 1.7rem; }

.dropDownNav {
  width: 100%;
  margin-top: 20px;
  border: 2px dotted #2c2c2c;
  border-bottom: none;
  position: relative;
  background-color: #4ceea7;
  text-align: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }
  .dropDownNav li {
    padding: 30px 0;
    border-bottom: 2px dotted #2c2c2c; }
    .dropDownNav li:hover {
      background-color: #fdfa69; }

input[class="toggle"]:checked + .dropDownNav {
  opacity: 1; }

footer {
  background: #2c2c2c;
  color: #fafafa;
  padding: 15px 0; }

footer p {
  margin: 0;
  text-align: center; }

.about,
.moreInfo,
.monthlyProfile {
  padding: 20px 0 50px;
  background: #effdf3; }

h3 {
  margin-top: 30px; }

.mainHeader {
  background: url("../assets/header-image.jpg");
  background-position: 40% center;
  position: relative; }
  .mainHeader h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2.6rem; }

.decoImgContainer {
  padding-top: 55%;
  width: 50%;
  border: 20px solid #fdfa69;
  border-right: none;
  background: url("../assets/header-box-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -15%; }

.about {
  position: static;
  padding-top: 100px;
  background-color: #effdf3; }

.feature {
  margin-bottom: 40px; }

.feature1 img {
  box-shadow: 15px 15px #fdfa69; }

.feature2 img {
  box-shadow: -15px 15px #fdfa69; }

.infoTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.5px; }
  .infoTitle:hover {
    background-color: #fdfa69;
    border-radius: 100px; }

.moreInfo i {
  flex: 1 0 10%;
  position: relative;
  text-align: center;
  z-index: 100;
  font-size: 1.6rem; }
  .moreInfo i::after {
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4ceea7;
    z-index: -1; }

.linkLabel {
  flex: 5 0 80%;
  margin-left: 15px; }

.info p:last-child {
  font-style: normal;
  margin-bottom: 50px; }

.banner {
  display: none;
  height: 25vh;
  background-image: url("../assets/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.monthlyProfile img {
  box-shadow: 15px 15px #fdfa69; }

.galleryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }

.item1,
.item2 {
  flex: 1 0 50%; }

.item1 {
  margin-right: 10px; }

.item3 {
  display: none; }

.blog {
  background-color: #effdf3;
  margin: 0 auto; }
  .blog p {
    font-size: 0.9rem; }

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
  position: relative; }

.blogHeader h1 {
  margin: 0 auto;
  font-size: 4.6rem; }

.sideBar {
  background-color: #fafafa;
  position: relative; }

input.sideToggle {
  opacity: 0; }

label.sideToggle {
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  background-color: #4ceea7;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #2c2c2c;
  display: block; }
  label.sideToggle i {
    text-shadow: 0.5px 0.5px px #2c2c2c; }

.sideBarPopUp {
  padding: 40px 0;
  transform: translateX(-110%);
  background-color: #effdf3;
  position: absolute; }
  .sideBarPopUp a {
    display: inline-block;
    margin-left: 5px; }

input.sideToggle:checked + .sideBarPopUp {
  transform: translateX(0);
  position: static; }

input.sideToggle:checked + label {
  display: none; }

.sideBarPopUp li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0.5em; }

.post {
  border-left: 3px solid #fdfa69;
  border-bottom: 3px solid #fdfa69; }
  .post h2,
  .post p {
    padding-left: 10px; }

.post .imgContainer {
  background-color: #fdfa69; }
  .post .imgContainer img {
    transform: translate(15px, -20px); }

.comments {
  margin: 100px 0; }

.blog .commentsTitle {
  font-size: 1.6rem; }

.postedComments {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px; }
  .postedComments img {
    width: 70px;
    height: 70px;
    margin-right: 20px; }
  .postedComments p {
    margin-top: 0; }

.commentForm {
  margin-bottom: 70px; }
  .commentForm input[type="text"],
  .commentForm input[type="email"],
  .commentForm textarea {
    width: 100%;
    margin-bottom: 40px; }

.contactHeader {
  background-image: url("../assets/contact-header.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }
  .contactHeader h1 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 3.0rem; }

.contactForm {
  padding-top: 50px; }
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    margin-bottom: 35px; }

.contact {
  background-color: #effdf3; }

.socialMedia ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 80%; }
  .socialMedia ul li {
    flex: 1 0 auto;
    padding: 10px;
    transition: all 0.3s ease-in-out; }
    .socialMedia ul li:hover a {
      color: #4ceea7;
      text-shadow: 1px 1px 1px #2c2c2c;
      transform: scale(1.2); }

.socialMedia a,
address p:first-of-type {
  font-size: 1.3rem;
  margin: 5px 0; }

address {
  font-style: normal; }
  address p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 30px; }
