article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.linkButton:hover, input[type="submit"]:hover {
  box-shadow: 1.5px 1.5px 5px black;
  background-color: #fdfa69;
  color: #2c2c2c; }

.blogHeader h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.feature1 .imgContainer {
  box-shadow: 15px 15px #fdfa69; }
  @media (min-width: 645px) {
    .feature1 .imgContainer {
      box-shadow: 30px 30px #fdfa69; } }

.feature2 .imgContainer, .monthlyProfile img {
  box-shadow: -15px 15px #fdfa69; }
  @media (min-width: 645px) {
    .feature2 .imgContainer, .monthlyProfile img {
      box-shadow: -30px 30px #fdfa69; } }

.mainHeader, .feature .imgContainer, .banner, .blogHeader, .contactHeader {
  background-repeat: no-repeat;
  background-size: cover; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  display: block; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto; }

html {
  font-size: 125%;
  /*20px*/ }

body {
  color: #2c2c2c; }

h1,
h2,
h3,
h4,
nav,
a,
.linkLabel,
.commentsTitle,
input[type="submit"] {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase; }

h1 {
  text-align: center; }

h2 {
  font-size: 2.1rem; }

h3,
.linkLabel {
  font-size: 1.6rem;
  letter-spacing: 1px; }
  @media (min-width: 320px) {
    h3,
    .linkLabel {
      font-size: 1.4rem; } }

a {
  color: #2c2c2c; }

p,
form {
  font-family: "Roboto", sans-serif; }

p {
  line-height: 1.6;
  font-weight: normal; }

[class*="Title"] {
  font-size: 1.6rem; }

.linkButton {
  padding: 15px;
  background: #4ceea7;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px; }

.findOutMore {
  width: 320px;
  margin: 0 auto; }

.readMore {
  width: 270px; }

input::placeholder,
textarea::placeholder {
  margin-bottom: 50px;
  color: #2c2c2c;
  opacity: 1; }

input[type="text"],
input[type="email"],
textarea {
  background: transparent;
  padding-left: 15px; }

input[type="text"],
input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #4ceea7;
  padding-bottom: 15px; }
  @media (min-width: 1200px) {
    input[type="text"],
    input[type="email"] {
      padding: 0 0 20px 20px; } }

@media (min-width: 645px) {
  .contactContainer {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 645px) {
  .contactContainer input[type="text"],
  .contactContainer input[type="email"] {
    flex-basis: 45%; } }

textarea {
  width: 100%;
  border: 2px solid #4ceea7;
  padding-top: 15px; }
  @media (min-width: 1200px) {
    textarea {
      padding: 20px 0 0 20px; } }

input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #4ceea7; }

.mainHeader,
.blogHeader,
.contactHeader {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.mainNav {
  position: relative; }
  @media (min-width: 645px) {
    .mainNav {
      position: static;
      display: flex;
      justify-content: flex-end; } }

input[class="toggle"] {
  opacity: 0; }
  @media (min-width: 645px) {
    input[class="toggle"] {
      display: none; } }

label.toggle {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px; }
  label.toggle i {
    font-size: 1.7rem; }
  @media (min-width: 645px) {
    label.toggle {
      display: none; } }

.navList {
  position: relative;
  width: 100%;
  margin-top: 20px;
  border: 2px dotted #2c2c2c;
  border-bottom: none;
  background-color: #4ceea7;
  text-align: center;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; }
  @media (min-width: 645px) {
    .navList {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      border: none;
      background-color: transparent;
      opacity: 1; } }
  @media (min-width: 760px) {
    .navList {
      width: 60%; } }
  @media (min-width: 960px) {
    .navList {
      width: 45%; } }
  @media (min-width: 1440px) {
    .navList {
      width: 30%;
      transform: translateX(-15%); } }

.navList li {
  padding: 30px 0;
  border-bottom: 2px dotted #2c2c2c; }
  @media (min-width: 645px) {
    .navList li {
      border: none;
      flex: 1 0 25%; } }
  .navList li:hover {
    background-color: #fdfa69; }
    @media (min-width: 645px) {
      .navList li:hover {
        position: relative;
        background-color: transparent; } }

@media (min-width: 645px) {
  .navList li a {
    position: relative; }
    .navList li a::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 10%;
      width: 80%;
      height: 3px;
      background-color: #4ceea7;
      visibility: hidden;
      transform: scaleX(0);
      transition: 0.5s linear; }
    .navList li a:hover::after {
      visibility: visible;
      transform: scaleX(1); } }

input[class="toggle"]:checked + .navList {
  opacity: 1; }

@media (min-width: 645px) {
  input[class="toggle"],
  label[class="toggle"] {
    opacity: 0;
    display: none; } }

footer {
  background: #2c2c2c;
  color: #fafafa;
  padding: 15px 0; }

footer p {
  margin: 0;
  text-align: center; }

.about,
.moreInfo,
.monthlyProfile {
  padding: 20px 0 50px;
  background: #effdf3; }
  @media (min-width: 645px) {
    .about,
    .moreInfo,
    .monthlyProfile {
      padding: 30px 0 70px; } }

.mainPage h3 {
  margin-top: 30px; }
  @media (min-width: 645px) {
    .mainPage h3 {
      margin-top: 50px; } }

.mainHeader {
  position: relative;
  background: url("../assets/headerImage.jpg");
  background-position: 40% center; }
  .mainHeader h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2.6rem; }
    @media (min-width: 645px) {
      .mainHeader h1 {
        top: 75%;
        font-size: 4.0rem; } }
    @media (min-width: 760px) {
      .mainHeader h1 {
        top: 70%;
        font-size: 5.0rem; } }
    @media (min-width: 960px) {
      .mainHeader h1 {
        font-size: 6.0rem; } }
    @media (min-width: 1200px) {
      .mainHeader h1 {
        font-size: 6.9rem; } }

.decoImgContainer {
  width: 45%;
  padding-top: 45%;
  border: 20px solid #fdfa69;
  border-right: none;
  position: absolute;
  right: 0;
  bottom: -7%;
  background: url("../assets/headerBoxImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%; }
  @media (min-width: 645px) {
    .decoImgContainer {
      bottom: -20%;
      border: 30px solid #fdfa69;
      border-right: none; } }
  @media (min-width: 960px) {
    .decoImgContainer {
      bottom: -30%;
      border: 40px solid #fdfa69;
      border-right: none; } }

.about {
  padding-top: 40px;
  background-color: #effdf3; }
  @media (min-width: 645px) {
    .about {
      padding-top: 130px; } }
  @media (min-width: 960px) {
    .about {
      padding: 250px 50px; } }
  @media (min-width: 645px) {
    .about p {
      padding-bottom: 20px; } }
  @media (min-width: 960px) {
    .about h2 {
      text-align: center; } }

.feature {
  margin-bottom: 40px; }
  @media (min-width: 960px) {
    .feature {
      padding-bottom: 30px; } }
  @media (min-width: 960px) {
    .feature .wrapper {
      display: flex;
      justify-content: space-between; } }
  .feature .imgContainer {
    height: 250px;
    width: 100%;
    margin-top: 50px; }
    @media (min-width: 760px) {
      .feature .imgContainer {
        height: 350px; } }
    @media (min-width: 960px) {
      .feature .imgContainer {
        position: relative;
        flex-basis: 47%;
        width: 50%;
        height: auto; } }
  @media (min-width: 960px) {
    .feature .featureContent {
      flex-basis: 46%; } }

.feature1 .imgContainer {
  background-image: url("../assets/leftImage.jpg"); }
  @media (min-width: 960px) {
    .feature1 .imgContainer {
      left: -5.65%;
      top: -80px; } }

@media (min-width: 960px) {
  .feature1 .featureContent {
    margin-left: 70px;
    padding-left: 20px; } }

@media (min-width: 1200px) {
  .feature1 .featureContent {
    padding: 50px 27px; } }

@media (min-width: 960px) {
  .feature2 .wrapper {
    flex-direction: row-reverse; } }

.feature2 .imgContainer {
  margin-top: 50px;
  background-image: url("../assets/rightImage.jpg"); }
  @media (min-width: 960px) {
    .feature2 .imgContainer {
      right: -5.65%;
      bottom: -90px; } }

@media (min-width: 960px) {
  .feature2 .featureContent {
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .feature2 .featureContent {
    padding: 50px 27px; } }

@media (min-width: 960px) {
  .moreInfo {
    padding-top: 100px; } }

@media (min-width: 960px) {
  .moreInfo ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

@media (min-width: 960px) {
  .moreInfo ul li {
    flex-basis: 45%; } }

.moreInfo ul li:first-child,
.moreInfo ul li:nth-child(3) {
  margin-right: 20px; }

.moreInfo a {
  display: flex;
  flex-direction: column; }

.infoTitle {
  display: flex;
  align-items: center;
  padding: 1.5px;
  cursor: pointer; }
  .infoTitle:hover {
    border-radius: 100px;
    background-color: #fdfa69; }
  @media (min-width: 960px) {
    .infoTitle {
      margin-left: 7px; } }

.moreInfo i {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  z-index: 100;
  font-size: 1.2rem; }
  .moreInfo i::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: #4ceea7;
    transform: translate(-50%, -50%);
    z-index: -1; }

.moreInfo li:first-child i {
  font-size: 1.6rem; }
  .moreInfo li:first-child i::after {
    transform: translate(-43%, -43%); }

.linkLabel {
  margin-left: 30px; }

.info p {
  margin-bottom: 50px;
  font-style: normal; }
  @media (min-width: 760px) {
    .info p {
      margin-left: 50px; } }
  @media (min-width: 960px) {
    .info p {
      margin-left: 65px; } }

.banner {
  display: none;
  background-image: url("../assets/banner.jpg");
  background-position: center center; }
  @media (min-width: 960px) {
    .banner {
      display: block; } }

@media (min-width: 960px) {
  .monthlyProfile .wrapper {
    display: flex;
    align-items: flex-start;
    padding: 50px 0; } }

.monthlyProfile img {
  width: 70%;
  height: 70%;
  margin: 0 auto; }
  @media (min-width: 960px) {
    .monthlyProfile img {
      flex-basis: 30%;
      margin-right: 60px; } }
  @media (min-width: 1200px) {
    .monthlyProfile img {
      flex-basis: 20%; } }

@media (min-width: 960px) {
  .monthlyProfile .profileContent {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

@media (min-width: 1200px) {
  .monthlyProfile .profileContent {
    flex-basis: 80%; } }

@media (min-width: 960px) {
  .monthlyProfile .profileContent h3 {
    margin-top: 0; } }

@media (min-width: 960px) {
  .monthlyProfile .profileContent a {
    margin: 0; } }

.galleryContainer {
  display: flex;
  justify-content: space-between;
  margin: 50px auto; }
  @media (min-width: 960px) {
    .galleryContainer {
      margin: 100px auto; } }

.item1,
.item2 {
  flex: 1 0 50%; }

@media (min-width: 960px) {
  .item1,
  .item2,
  .item3 {
    flex: 1 0 30%; } }

.item1,
.item2 {
  margin-right: 10px; }
  @media (min-width: 1200px) {
    .item1,
    .item2 {
      margin-right: 25px; } }
  @media (min-width: 1440px) {
    .item1,
    .item2 {
      margin-right: 40px; } }

.item3 {
  display: none; }
  @media (min-width: 960px) {
    .item3 {
      display: block; } }

.blog {
  background-color: #effdf3;
  margin: 0 auto; }
  .blog p {
    font-size: 0.9rem; }
    @media (min-width: 645px) {
      .blog p {
        font-size: 1.0rem; } }

.blogHeader {
  position: relative;
  background-image: url("../assets/blogHeader.jpg");
  background-position: 30% center; }

.blogHeader h1 {
  margin: 0 auto;
  font-size: 4.0rem;
  line-height: 4.6rem; }

.sideBar {
  position: relative;
  padding: 10px 0 30px;
  background-color: #effdf3; }
  @media (min-width: 645px) {
    .sideBar {
      padding: 30px 0 70px; } }

input.sideToggle {
  opacity: 0; }

label.sideToggle {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  background-color: #4ceea7;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #2c2c2c;
  display: block; }
  @media (min-width: 960px) {
    label.sideToggle {
      display: none;
      padding: 0; } }
  label.sideToggle i {
    text-shadow: 0.5px 0.5px px #2c2c2c; }

.sideBarPopUp {
  position: absolute;
  padding: 40px 10px;
  transform: translateX(-110%);
  background-color: #fafafa; }
  @media (min-width: 645px) {
    .sideBarPopUp {
      margin: 0 100px;
      transform: translateX(-130%); } }
  @media (min-width: 960px) {
    .sideBarPopUp {
      margin: 0;
      padding: 0;
      transform: translateX(0);
      position: static; }
      .sideBarPopUp img {
        position: relative;
        top: -20px;
        left: -30px; }
      .sideBarPopUp .sideBarContent {
        padding: 0 10px 40px; } }
  @media (min-width: 1200px) {
    .sideBarPopUp {
      width: 85%;
      margin-left: 50px;
      margin-top: 50px; }
      .sideBarPopUp .fullWidth {
        width: 35vw;
        position: relative;
        left: 50%;
        margin-left: -20vw;
        top: -15px; }
      .sideBarPopUp h4:first-child {
        margin-top: 0; }
        .sideBarPopUp h4:first-child + p {
          margin-bottom: 50px; } }

.sideBarContent a[href="index.html"] {
  display: inline-block;
  margin-left: 3px;
  font-family: "Playfair Display", serif; }
  .sideBarContent a[href="index.html"]:hover {
    color: #0e9359; }

.recentPosts a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-transform: none;
  font-weight: normal;
  font-style: normal; }
  .recentPosts a:hover {
    color: #0e9359; }

input.sideToggle:checked + .sideBarPopUp {
  transform: translateX(0);
  position: static; }

.sideBarPopUp li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1.0em;
  margin-left: 0.3em; }

@media (min-width: 960px) {
  .blogFlexContainer {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 960px) {
  .blogFlexContainer .sideBar {
    flex-basis: 35%;
    margin-left: 30px; } }

@media (min-width: 960px) {
  .blogFlexContainer .blogPost {
    flex-basis: 65%;
    margin-left: 30px; } }

@media (min-width: 960px) {
  .blogPost {
    position: relative;
    top: -150px; } }

.post {
  border-left: 3px solid #fdfa69;
  border-bottom: 3px solid #fdfa69; }
  .post h2,
  .post p {
    padding-left: 10px; }
    @media (min-width: 645px) {
      .post h2,
      .post p {
        padding-left: 20px; } }
    @media (min-width: 960px) {
      .post h2,
      .post p {
        padding-left: 30px; } }
    @media (min-width: 1200px) {
      .post h2,
      .post p {
        padding-left: 50px; } }

.post .imgContainer {
  background-color: #fdfa69; }
  .post .imgContainer img {
    transform: translate(6%, -10%); }

.comments {
  margin: 100px 0; }

.blog .commentsTitle {
  font-size: 1.6rem; }

.postedComments {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 50px; }
  .postedComments img {
    width: 70px;
    height: 70px;
    margin-right: 20px; }
  .postedComments p {
    margin-top: 0; }

.commentForm input[type="text"],
.commentForm input[type="email"],
.commentForm textarea {
  width: 100%;
  margin-bottom: 40px; }

.commentForm input[type="submit"] {
  margin-bottom: 100px; }

.contactHeader {
  position: relative;
  background-image: url("../assets/contactHeader.jpg");
  background-position: 30% center; }
  .contactHeader h1 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 3.0rem; }
    @media (min-width: 760px) {
      .contactHeader h1 {
        font-size: 4.0rem;
        line-height: 4.6rem; } }

@media (min-width: 960px) {
  .contact .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; } }

@media (min-width: 960px) {
  .contact aside {
    flex-basis: 30%; } }

@media (min-width: 960px) {
  .contact .contactForm {
    flex-basis: 60%; } }

@media (min-width: 1200px) {
  .contact .contactForm {
    flex-basis: 70%; } }

.contact {
  padding-top: 30px;
  background-color: #effdf3; }
  @media (min-width: 960px) {
    .contact {
      padding: 0; } }

.contactForm {
  border: 20px solid #fdfa69;
  border-top: none;
  border-right: none;
  padding: 20px 20px 20px 10px;
  background-color: #fafafa; }
  @media (min-width: 960px) {
    .contactForm {
      position: relative;
      top: -150px;
      padding: 15px;
      border: 30px solid #fdfa69;
      border-top: none;
      border-right: none; } }
  @media (min-width: 1200px) {
    .contactForm {
      padding: 50px; } }
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    margin-bottom: 35px; }

@media (min-width: 645px) {
  .contactContainer {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 645px) {
  .contactContainer input[type="text"],
  .contactContainer input[type="email"] {
    flex-basis: 45%; } }

.socialMedia ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: 50px; }
  @media (min-width: 645px) {
    .socialMedia ul {
      width: 50%; } }

.socialMedia ul li {
  flex: 1 0 auto;
  transition: all 0.3s ease-in-out; }
  .socialMedia ul li:hover a {
    color: #4ceea7;
    text-shadow: 1px 1px 1px #2c2c2c;
    transform: scale(1.2); }

.socialMedia a,
address p:first-of-type {
  font-size: 1.3rem;
  margin: 5px 0; }

address p:first-of-type {
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }
  address p:first-of-type:hover {
    color: #4ceea7;
    text-shadow: 2px 1px 1px #2c2c2c; }

address {
  font-style: normal; }
  address p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 30px; }
